.aboutback {
  background-image: url("../../images/about-img/aboutback.jpg");
  background-size: cover;
  backdrop-filter: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  // background-position: center;
}

